# Environment variables
.env

# Python
__pycache__/
*.pyc
venv/
.venv/
.venv311/
.ruff_cache/

# Vercel
.vercel/

# IDE
.vscode/
.idea/
.venv311/
.pytest_cache/

#docs 
CLAUDE.md
HANDOVER.md
CONSTRAINT_INVESTIGATION.md
CONSTRAINT_MODEL_PROGRESS.md
pso_timetabling.py
